<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" defer href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" defer href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />

     <link defer rel="stylesheet" href="https://codemirror.net/theme/ayu-dark.css">
    <link defer rel="stylesheet" href="https://codemirror.net/theme/icecoder.css">
    <link defer rel="stylesheet" href="https://codemirror.net/theme/isotope.css">
    <link defer rel="stylesheet" href="https://codemirror.net/theme/colorforth.css">
    <link defer rel="stylesheet" href="https://codemirror.net/theme/dracula.css">
    <link defer rel="stylesheet" href="https://codemirror.net/theme/eclipse.css">
    <link defer rel="stylesheet" href="https://codemirror.net/theme/material-darker.css">
    <link defer rel="stylesheet" href="https://codemirror.net/theme/neat.css">
    <link defer rel="stylesheet" href="https://codemirror.net/theme/rubyblue.css">
    <link defer rel="stylesheet" href="https://codemirror.net/theme/seti.css">

    <link rel="stylesheet" defer href="../../node_modules/codemirror/lib/codemirror.css">
    <link rel="stylesheet" defer href="../../node_modules/codemirror/addon/scroll/simplescrollbars.css">
   
    <link rel="stylesheet" defer href="../../public/css/home.css">
</head>
<body>
<%- include('../templates/navbar.ejs'); -%>

<%- include('../templates/ide_section.ejs'); -%> 

    
    




<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
<script src="../../node_modules/jquery/dist//jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>

<script src="../../node_modules/codemirror/lib/codemirror.js"></script>
<script src="../../node_modules/codemirror/mode/javascript/javascript.js"></script>
<script src="../../node_modules/codemirror/addon/scroll/simplescrollbars.js"></script>
<script src="../../node_modules/codemirror/addon/edit/closebrackets.js"></script>

<script src="../../public/js/home.js"> </script>

</body>
</html>