<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <link rel="stylesheet" defer href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" defer href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../../public/css/room.css">
</head>
<body>
    
  <h1 class="text-center pt-3">Interview.io</h1>

    <div class="container d-flex justify-content-center">
          <form class="form-signin mt-5" action="/home" method="get" name="regForm">
            <h6 class="h3 mb-3 font-weight-normal">The collaborative ide to make Interviews easy..</h6>
         
            <label for="exampleInputEmail1" class="form-label text-white">Room ID 
              <span class="uk-margin-small-right pl-2" uk-icon="info" uk-tooltip="title: You will need a room id to join a group ask your room host to share the id to join.; pos: right"></span>
            </label>
            <input type="text" class="form-control mb-3" name="room" required>
            <label for="exampleInputEmail1" class="form-label text-white">Username 
              <span class="uk-margin-small-right pl-2" uk-icon="info" uk-tooltip="title:This username is retrived from google ac you sign in with to change log in with different ac.; pos: right"></span>
            </label>
            <input type="text" class="form-control mb-3" name="user" value="<%= name %>" readonly>
         
                  <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 shadow rounded mb-5">Join</button>  
                
             </form>
     </div>
     </div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script> 
</body>
</html>