<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <nav class="navbar navbar-light  " id="nav">
    <div class="container-fluid">
      <a class="navbar-brand text-white d-none" id="nav-a" href="#">Interview.io</a>
      <form class="d-flex">
        <a href="/google" class="btn btn-outline-success d-none" id="nav-btn" type="submit">Sign in with Google</a>
      </form>
    </div>
  </nav>
<div class="center">
    <div class="center-text">
      <a class="anim" href="#">
        Interview.io
     </a>
        <h1>The Next Generation Collaborative IDE. </h1>
        <h6 class="mb-3">Practice interviewing with your friends on real time code sharing IDE ...</h6>
         <p>Give it a try -></p>
        <a  href="/google" class="color btn-lg button">Sign in with Google</a>

    </div>

</div>

<section>
<div class="container-fluid">
    <div class="text-center pt-5 pb-5">
        Technical interviewing and looking for a job are annoying.
We make both less terrible. Here’s how...👇
    </div>
</div>
</section>


<div class="container-fluid">
<div class="row">
    <div class="col-6 pl-5">
        <h1 class="pt-5 pb-3 space">Warm up with anonymous mock interviews </h1>
        <p class="text-muted pt-3 pb-3 space"> Practice with senior engineers, or your friends who’ll run you through hyperrealistic
            algorithmic or systems design questions and give you actionable feedback. so you can ace
            the " FAANG " companies interview.
        </p>
        <small class="pt-3 space col">
            You dont need any compiler to test your code if it is working or not we have integrated the code execution engine.
        </small>
     </div>
    <div class="col-6">
      <div class="container pt-5">
     <img src="/public/images/ide2.png" class="img-fluid " alt="Interview.io ide">
    </div>
  </div>
</div>


<div class="text-center pt-5 pl-3">
  <h4 class="">Take Quick intro of Interview.io</h4>

  <iframe width="50%" height="415" src="https://www.youtube.com/embed/RRlS0xd9nHk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    

</div>




 </div>
</div>

<div class="bg-dark fade show text-center mt-5 pb-1">
<h6 class="pt-3  space">
    Collaborative ide is an open source project if you are interested in contributing new feature then head to
    the github page..
</h6>
<strong class="pr-3">Made by mehul</strong>
<a target="_blank"  href="https://github.com/mehulsatardekar" class="fa fa-github" style="font-size:28px;color:white"></a>
<a target="_blank"  href="https://twitter.com/mehulsatardekar" class="fa fa-twitter" style="font-size:28px;color:white"></a>

</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
<script src="/public/js/login.js"></script>   



</body>
</html>










